# Source: https://www.forbes.com/billionaires/

In [5]:
import pandas as pd

df = pd.read_csv('forbes_2022_billionaires.csv')
df.head(1)

,rank,personName,age,finalWorth,year,month,category,source,country,state,...,organization,selfMade,gender,birthDate,title,philanthropyScore,residenceMsa,numberOfSiblings,bio,about
0,1,Elon Musk,50.0,219000.0,2022,4,Automotive,"Tesla, SpaceX",United States,Texas,...,Tesla,True,M,1971-06-28,CEO,1.0,NaN,NaN,Elon Musk is working to revolutionize transpor...,Musk was accepted to a graduate program at Sta...

In [6]:
df.shape[0]

2668

# What is the wealth of every single person on this list?

In [15]:
df['finalWorth'].sum()*1000000

12705950000000.0

## -- Answer 12,705,950,000,000 (trillion) --

# Q1: Who is the richest man from each country? (not done)

In [47]:
df.groupby('country').sum('finalWorth').reset_index() #, df[['year','country']]
#by_country = a.drop(columns = [''])
#by_country

,country,rank,age,finalWorth,year,month,selfMade,philanthropyScore,numberOfSiblings
0,Algeria,536,78.0,5100.0,2022,4,1,0.0,0.0
1,Andorra,2190,78.0,1300.0,2022,4,0,0.0,0.0
2,Argentina,7774,345.0,16000.0,12132,24,4,0.0,0.0
3,Australia,53323,2623.0,193500.0,82902,164,29,1.0,6.0
4,Austria,11908,766.0,69500.0,24264,48,8,0.0,0.0
5,Bahamas,2378,205.0,37500.0,8088,16,4,1.0,0.0
6,Bahrain,1929,77.0,1500.0,2022,4,0,0.0,0.0
7,Belgium,4808,175.0,38500.0,6066,12,1,0.0,2.0
8,Bermuda,3429,156.0,4500.0,4044,8,0,0.0,0.0
9,Brazil,81037,3461.0,146500.0,109188,216,21,0.0,15.0
10,British Virgin Islands,601,71.0,4700.0,2022,4,1,0.0,0.0
11,Cambodia,1196,74.0,2600.0,2022,4,1,0.0,0.0
12,Canada,61766,2969.0,175300.0,90990,180,32,0.0,0.0
13,Cayman Islands,3211,223.0,10800.0,6066,12,2,0.0,0.0
14,Chile,6619,455.0,35700.0,12132,24,3,0.0,0.0
15,China,822955,31596.0,2145250.0,1154562,2284,553,0.0,7.0
16,Colombia,201,89.0,9900.0,2022,4,1,0.0,0.0
17,Czechia,10643,557.0,44200.0,20220,40,9,0.0,0.0
18,Denmark,10936,477.0,58300.0,20220,40,2,0.0,0.0
19,Egypt,6802,338.0,16200.0,10110,20,3,0.0,6.0
20,Eswatini (Swaziland),509,90.0,5300.0,2022,4,1,0.0,0.0
21,Finland,13179,433.0,12600.0,14154,28,2,0.0,1.0
22,France,32220,2277.0,454600.0,68748,136,16,0.0,2.0
23,Georgia,586,66.0,4800.0,2022,4,1,0.0,0.0
24,Germany,145812,6020.0,498900.0,226464,448,36,0.0,3.0
25,Greece,2076,89.0,1400.0,2022,4,1,0.0,0.0
26,Guernsey,1238,69.0,2500.0,2022,4,1,0.0,0.0
27,Hong Kong,75713,4425.0,335500.0,137496,272,45,0.0,4.0
28,Hungary,4514,125.0,2500.0,4044,8,2,0.0,0.0
29,India,226140,10596.0,723000.0,321498,636,74,0.0,122.0
30,Indonesia,40940,1800.0,103800.0,54594,108,18,0.0,0.0
31,Ireland,4482,291.0,11400.0,8088,16,3,0.0,0.0
32,Israel,35185,1645.0,63600.0,48528,96,17,0.0,2.0
33,Italy,67896,3413.0,155600.0,99078,196,23,0.0,14.0
34,Japan,58096,2495.0,150700.0,76836,152,31,0.0,3.0
35,Kazakhstan,7588,366.0,21700.0,14154,28,6,0.0,0.0
36,Lebanon,1902,143.0,6400.0,4044,8,2,0.0,0.0
37,Liechtenstein,1341,64.0,2300.0,2022,4,0,0.0,0.0
38,Malaysia,20925,1022.0,48300.0,30330,60,11,0.0,0.0
39,Mexico,14720,949.0,158100.0,28308,56,6,0.0,0.0
40,Monaco,16264,887.0,61700.0,26286,52,4,0.0,7.0
41,Morocco,3703,150.0,3300.0,4044,8,0,0.0,0.0
42,Nepal,1929,66.0,1500.0,2022,4,0,0.0,0.0
43,Netherlands,15883,678.0,22800.0,20220,40,7,0.0,0.0
44,New Zealand,4595,202.0,12000.0,6066,12,2,0.0,0.0
45,Nigeria,804,193.0,28200.0,6066,12,2,0.0,0.0
46,Norway,14477,530.0,30400.0,20220,40,5,0.0,2.0
47,Oman,1238,83.0,2500.0,2022,4,1,0.0,0.0
48,Peru,4900,217.0,7800.0,6066,12,0,0.0,0.0
49,Philippines,32050,1297.0,45200.0,38418,76,9,0.0,0.0
50,Poland,7074,350.0,19400.0,12132,24,5,0.0,0.0
51,Portugal,601,87.0,4700.0,2022,4,0,0.0,0.0
52,Qatar,3769,136.0,3300.0,4044,8,1,0.0,0.0
53,Romania,6325,190.0,4100.0,6066,12,3,0.0,0.0
54,Russia,96704,3865.0,243800.0,131430,260,65,0.0,0.0
55,Singapore,45144,2123.0,183300.0,70770,140,24,0.0,7.0
56,Slovakia,3919,106.0,3000.0,4044,8,2,0.0,0.0
57,South Africa,4370,348.0,25000.0,10110,20,3,0.0,0.0
58,South Korea,64557,2431.0,119900.0,86946,172,25,1.0,0.0
59,Spain,38600,1773.0,113400.0,50550,100,10,0.0,0.0
60,Sweden,43435,1825.0,113300.0,64704,128,19,0.0,12.0
61,Switzerland,75669,4691.0,340600.0,147606,292,40,0.0,19.0
62,Taiwan,56304,2870.0,121400.0,84924,168,24,0.0,0.0
63,Tanzania,1929,46.0,1500.0,2022,4,0,0.0,0.0
64,Thailand,36608,1892.0,94700.0,54594,108,15,0.0,5.0
65,Turkey,43976,1557.0,38400.0,46506,92,13,0.0,6.0
66,Turks and Caicos Islands,1397,76.0,2200.0,2022,4,1,0.0,0.0
67,Ukraine,11672,341.0,10800.0,12132,24,6,0.0,0.0
68,United Arab Emirates,11006,491.0,40000.0,20220,40,5,0.0,5.0
69,United Kingdom,100350,5140.0,394800.0,171870,340,64,2.0,17.0
70,United States,843350,48948.0,4753500.0,1512456,2992,550,730.0,78.0
71,Uruguay,5437,179.0,4900.0,6066,12,2,0.0,0.0
72,Vietnam,8137,400.0,21200.0,14154,28,7,0.0,0.0

# Q2: How many billionaires are in each country?