# Source: https://www.forbes.com/billionaires/

In [19]:
import pandas as pd
pd.options.display.max_rows = 100

df = pd.read_csv('forbes_2022_billionaires.csv')
df.head(1)

,rank,personName,age,finalWorth,year,month,category,source,country,state,...,organization,selfMade,gender,birthDate,title,philanthropyScore,residenceMsa,numberOfSiblings,bio,about
0,1,Elon Musk,50.0,219000.0,2022,4,Automotive,"Tesla, SpaceX",United States,Texas,...,Tesla,True,M,1971-06-28,CEO,1.0,NaN,NaN,Elon Musk is working to revolutionize transpor...,Musk was accepted to a graduate program at Sta...

In [6]:
df.shape[0]

2668

# What is the wealth of every single person on this list? (MAKE GRAPH)

In [34]:
df['finalWorth'].sum()*1000000

12705950000000.0

## -- Answer 12,705,950,000,000 (trillion) --

# Q1: Who is the richest man from each country? (not done)

## Sorted by country

In [36]:
gb = df.groupby(['country','personName']).sum('finalWorth').reset_index()
richest_man_each_country = gb.sort_values('finalWorth', ascending = False).drop_duplicates('country')
richest_man_each_country.sort_values('country', ascending = True).head(100)

,country,personName,rank,age,finalWorth,year,month,selfMade,philanthropyScore,numberOfSiblings
0,Algeria,Issad Rebrab & family,536,78.0,5100.0,2022,4,1,0.0,0.0
1,Andorra,Carmen Thyssen,2190,78.0,1300.0,2022,4,0,0.0,0.0
6,Argentina,Marcos Galperin,764,0.0,3900.0,2022,4,1,0.0,0.0
24,Australia,Gina Rinehart,46,68.0,30200.0,2022,4,0,0.0,0.0
50,Austria,Dietrich Mateschitz,51,77.0,27400.0,2022,4,1,0.0,0.0
64,Bahamas,Sam Bankman-Fried,60,30.0,24000.0,2022,4,1,1.0,0.0
65,Bahrain,Robert Mouawad,1929,77.0,1500.0,2022,4,0,0.0,0.0
66,Belgium,Giovanni Ferrero,36,57.0,36200.0,2022,4,0,0.0,0.0
69,Bermuda,Beatriz Davila de Santo Domingo,851,83.0,3500.0,2022,4,0,0.0,0.0
108,Brazil,Marcel Herrmann Telles,192,72.0,10300.0,2022,4,1,0.0,0.0
125,British Virgin Islands,Richard Branson,601,71.0,4700.0,2022,4,1,0.0,0.0
126,Cambodia,Chen Lip Keong,1196,74.0,2600.0,2022,4,1,0.0,0.0
142,Canada,David Thomson & family,26,64.0,49200.0,2022,4,0,0.0,0.0
172,Cayman Islands,Clive Calder,460,75.0,5700.0,2022,4,1,0.0,0.0
176,Chile,Iris Fontbona & family,67,79.0,22800.0,2022,4,0,0.0,0.0
729,China,Zhong Shanshan,17,67.0,65700.0,2022,4,1,0.0,0.0
750,Colombia,Luis Carlos Sarmiento,201,89.0,9900.0,2022,4,1,0.0,0.0
758,Czechia,Renata Kellnerova & family,104,54.0,16600.0,2022,4,0,0.0,0.0
762,Denmark,Anders Holch Povlsen,135,49.0,13600.0,2022,4,0,0.0,0.0
773,Egypt,Nassef Sawiris,304,61.0,7700.0,2022,4,0,0.0,0.0
776,Eswatini (Swaziland),Nathan Kirsh,509,90.0,5300.0,2022,4,1,0.0,0.0
778,Finland,Antti Herlin,665,65.0,4300.0,2022,4,0,0.0,0.0
787,France,Bernard Arnault & family,3,73.0,158000.0,2022,4,0,0.0,0.0
818,Georgia,Bidzina Ivanishvili,586,66.0,4800.0,2022,4,1,0.0,0.0
842,Germany,Dieter Schwarz,28,82.0,47100.0,2022,4,0,0.0,0.0
931,Greece,Vardis Vardinoyannis & family,2076,89.0,1400.0,2022,4,1,0.0,0.0
932,Guernsey,Stephen Lansdown,1238,69.0,2500.0,2022,4,1,0.0,0.0
965,Hong Kong,Li Ka-shing,37,93.0,34800.0,2022,4,1,0.0,0.0
1002,Hungary,Sandor Csanyi,2190,69.0,1300.0,2022,4,1,0.0,0.0
1082,India,Mukesh Ambani,10,64.0,90700.0,2022,4,0,0.0,0.0
1183,Indonesia,R. Budi Hartono,64,81.0,23200.0,2022,4,0,0.0,0.0
1189,Ireland,Denis O'Brien,778,63.0,3800.0,2022,4,1,0.0,0.0
1201,Israel,Frank Lowy,363,91.0,6800.0,2022,4,1,0.0,0.0
1235,Italy,Leonardo Del Vecchio & family,52,86.0,27300.0,2022,4,1,0.0,0.0
1293,Japan,Tadashi Yanai & family,54,73.0,26100.0,2022,4,1,0.0,0.0
1309,Kazakhstan,Vladimir Kim,552,61.0,5000.0,2022,4,1,0.0,0.0
1312,Lebanon,Taha Mikati,951,77.0,3200.0,2022,4,1,0.0,0.0
1313,Liechtenstein,Christoph Zeller,1341,64.0,2300.0,2022,4,0,0.0,0.0
1323,Malaysia,Quek Leng Chan,185,80.0,10600.0,2022,4,0,0.0,0.0
1333,Mexico,Carlos Slim Helu & family,13,82.0,81200.0,2022,4,1,0.0,0.0
1345,Monaco,Eyal Ofer,117,71.0,15400.0,2022,4,0,0.0,0.0
1356,Morocco,Aziz Akhannouch & family,1513,61.0,2000.0,2022,4,0,0.0,0.0
1358,Nepal,Binod Chaudhary,1929,66.0,1500.0,2022,4,0,0.0,0.0
1360,Netherlands,Frits Goldschmeding,460,88.0,5700.0,2022,4,1,0.0,0.0
1369,New Zealand,Graeme Hart,218,66.0,9400.0,2022,4,1,0.0,0.0
1373,Nigeria,Aliko Dangote,130,64.0,14000.0,2022,4,1,0.0,0.0
1378,Norway,Ivar Tollefsen,424,60.0,6000.0,2022,4,1,0.0,0.0
1385,Oman,Suhail Bahwan,1238,83.0,2500.0,2022,4,1,0.0,0.0
1387,Peru,Carlos Rodriguez-Pastor,523,62.0,5200.0,2022,4,0,0.0,0.0
1400,Philippines,Manuel Villar,263,72.0,8300.0,2022,4,1,0.0,0.0
1410,Poland,Michal Solowow,411,59.0,6200.0,2022,4,1,0.0,0.0
1414,Portugal,Maria Fernanda Amorim & family,601,87.0,4700.0,2022,4,0,0.0,0.0
1415,Qatar,Faisal Bin Qassim Al Thani,1445,74.0,2100.0,2022,4,1,0.0,0.0
1419,Romania,Ion Tiriac,1818,82.0,1600.0,2022,4,1,0.0,0.0
1480,Russia,Vladimir Lisin,87,65.0,18400.0,2022,4,1,0.0,0.0
1488,Singapore,Changpeng Zhao,19,44.0,65000.0,2022,4,1,0.0,0.0
1520,Slovakia,Ivan Chrenko,1729,54.0,1700.0,2022,4,1,0.0,0.0
1522,South Africa,Johann Rupert & family,230,71.0,8900.0,2022,4,0,0.0,0.0
1541,South Korea,Kim Beom-su,223,56.0,9100.0,2022,4,1,0.0,0.0
1574,Spain,Amancio Ortega,23,86.0,59600.0,2022,4,1,0.0,0.0
1623,Sweden,Stefan Persson,94,74.0,17600.0,2022,4,0,0.0,0.0
1656,Switzerland,Klaus-Michael Kuehne,33,84.0,37300.0,2022,4,0,0.0,0.0
1718,Taiwan,Lin Shu-hong,330,93.0,7200.0,2022,4,1,0.0,0.0
1742,Tanzania,Mohammed Dewji,1929,46.0,1500.0,2022,4,0,0.0,0.0
1748,Thailand,Dhanin Chearavanont,137,82.0,13500.0,2022,4,0,0.0,0.0
1784,Turkey,Murat Ulker,601,63.0,4700.0,2022,4,0,0.0,0.0
1793,Turks and Caicos Islands,Michael Ashcroft,1397,76.0,2200.0,2022,4,1,0.0,0.0
1797,Ukraine,Rinat Akhmetov,687,55.0,4200.0,2022,4,1,0.0,0.0
1805,United Arab Emirates,Pavel Durov,123,37.0,15100.0,2022,4,1,0.0,0.0
1865,United Kingdom,Len Blavatnik,40,64.0,32500.0,2022,4,1,2.0,0.0
2089,United States,Elon Musk,1,50.0,219000.0,2022,4,1,1.0,0.0
2643,Uruguay,Alejandro Bulgheroni,1579,77.0,1900.0,2022,4,0,0.0,0.0
2650,Vietnam,Pham Nhat Vuong,411,53.0,6200.0,2022,4,1,0.0,0.0

## Sorted by Worth

In [37]:
gb = df.groupby(['country','personName']).sum('finalWorth').reset_index()
richest_man_each_country = gb.sort_values('finalWorth', ascending = False).drop_duplicates('country')
richest_man_each_country.sort_values('finalWorth', ascending = False).head(100)

,country,personName,rank,age,finalWorth,year,month,selfMade,philanthropyScore,numberOfSiblings
2089,United States,Elon Musk,1,50.0,219000.0,2022,4,1,1.0,0.0
787,France,Bernard Arnault & family,3,73.0,158000.0,2022,4,0,0.0,0.0
1082,India,Mukesh Ambani,10,64.0,90700.0,2022,4,0,0.0,0.0
1333,Mexico,Carlos Slim Helu & family,13,82.0,81200.0,2022,4,1,0.0,0.0
729,China,Zhong Shanshan,17,67.0,65700.0,2022,4,1,0.0,0.0
1488,Singapore,Changpeng Zhao,19,44.0,65000.0,2022,4,1,0.0,0.0
1574,Spain,Amancio Ortega,23,86.0,59600.0,2022,4,1,0.0,0.0
142,Canada,David Thomson & family,26,64.0,49200.0,2022,4,0,0.0,0.0
842,Germany,Dieter Schwarz,28,82.0,47100.0,2022,4,0,0.0,0.0
1656,Switzerland,Klaus-Michael Kuehne,33,84.0,37300.0,2022,4,0,0.0,0.0
66,Belgium,Giovanni Ferrero,36,57.0,36200.0,2022,4,0,0.0,0.0
965,Hong Kong,Li Ka-shing,37,93.0,34800.0,2022,4,1,0.0,0.0
1865,United Kingdom,Len Blavatnik,40,64.0,32500.0,2022,4,1,2.0,0.0
24,Australia,Gina Rinehart,46,68.0,30200.0,2022,4,0,0.0,0.0
50,Austria,Dietrich Mateschitz,51,77.0,27400.0,2022,4,1,0.0,0.0
1235,Italy,Leonardo Del Vecchio & family,52,86.0,27300.0,2022,4,1,0.0,0.0
1293,Japan,Tadashi Yanai & family,54,73.0,26100.0,2022,4,1,0.0,0.0
64,Bahamas,Sam Bankman-Fried,60,30.0,24000.0,2022,4,1,1.0,0.0
1183,Indonesia,R. Budi Hartono,64,81.0,23200.0,2022,4,0,0.0,0.0
176,Chile,Iris Fontbona & family,67,79.0,22800.0,2022,4,0,0.0,0.0
1480,Russia,Vladimir Lisin,87,65.0,18400.0,2022,4,1,0.0,0.0
1623,Sweden,Stefan Persson,94,74.0,17600.0,2022,4,0,0.0,0.0
758,Czechia,Renata Kellnerova & family,104,54.0,16600.0,2022,4,0,0.0,0.0
1345,Monaco,Eyal Ofer,117,71.0,15400.0,2022,4,0,0.0,0.0
1805,United Arab Emirates,Pavel Durov,123,37.0,15100.0,2022,4,1,0.0,0.0
1373,Nigeria,Aliko Dangote,130,64.0,14000.0,2022,4,1,0.0,0.0
762,Denmark,Anders Holch Povlsen,135,49.0,13600.0,2022,4,0,0.0,0.0
1748,Thailand,Dhanin Chearavanont,137,82.0,13500.0,2022,4,0,0.0,0.0
1323,Malaysia,Quek Leng Chan,185,80.0,10600.0,2022,4,0,0.0,0.0
108,Brazil,Marcel Herrmann Telles,192,72.0,10300.0,2022,4,1,0.0,0.0
750,Colombia,Luis Carlos Sarmiento,201,89.0,9900.0,2022,4,1,0.0,0.0
1369,New Zealand,Graeme Hart,218,66.0,9400.0,2022,4,1,0.0,0.0
1541,South Korea,Kim Beom-su,223,56.0,9100.0,2022,4,1,0.0,0.0
1522,South Africa,Johann Rupert & family,230,71.0,8900.0,2022,4,0,0.0,0.0
1400,Philippines,Manuel Villar,263,72.0,8300.0,2022,4,1,0.0,0.0
773,Egypt,Nassef Sawiris,304,61.0,7700.0,2022,4,0,0.0,0.0
1718,Taiwan,Lin Shu-hong,330,93.0,7200.0,2022,4,1,0.0,0.0
1201,Israel,Frank Lowy,363,91.0,6800.0,2022,4,1,0.0,0.0
1410,Poland,Michal Solowow,411,59.0,6200.0,2022,4,1,0.0,0.0
2650,Vietnam,Pham Nhat Vuong,411,53.0,6200.0,2022,4,1,0.0,0.0
1378,Norway,Ivar Tollefsen,424,60.0,6000.0,2022,4,1,0.0,0.0
172,Cayman Islands,Clive Calder,460,75.0,5700.0,2022,4,1,0.0,0.0
1360,Netherlands,Frits Goldschmeding,460,88.0,5700.0,2022,4,1,0.0,0.0
776,Eswatini (Swaziland),Nathan Kirsh,509,90.0,5300.0,2022,4,1,0.0,0.0
1387,Peru,Carlos Rodriguez-Pastor,523,62.0,5200.0,2022,4,0,0.0,0.0
0,Algeria,Issad Rebrab & family,536,78.0,5100.0,2022,4,1,0.0,0.0
1309,Kazakhstan,Vladimir Kim,552,61.0,5000.0,2022,4,1,0.0,0.0
818,Georgia,Bidzina Ivanishvili,586,66.0,4800.0,2022,4,1,0.0,0.0
125,British Virgin Islands,Richard Branson,601,71.0,4700.0,2022,4,1,0.0,0.0
1784,Turkey,Murat Ulker,601,63.0,4700.0,2022,4,0,0.0,0.0
1414,Portugal,Maria Fernanda Amorim & family,601,87.0,4700.0,2022,4,0,0.0,0.0
778,Finland,Antti Herlin,665,65.0,4300.0,2022,4,0,0.0,0.0
1797,Ukraine,Rinat Akhmetov,687,55.0,4200.0,2022,4,1,0.0,0.0
6,Argentina,Marcos Galperin,764,0.0,3900.0,2022,4,1,0.0,0.0
1189,Ireland,Denis O'Brien,778,63.0,3800.0,2022,4,1,0.0,0.0
69,Bermuda,Beatriz Davila de Santo Domingo,851,83.0,3500.0,2022,4,0,0.0,0.0
1312,Lebanon,Taha Mikati,951,77.0,3200.0,2022,4,1,0.0,0.0
126,Cambodia,Chen Lip Keong,1196,74.0,2600.0,2022,4,1,0.0,0.0
932,Guernsey,Stephen Lansdown,1238,69.0,2500.0,2022,4,1,0.0,0.0
1385,Oman,Suhail Bahwan,1238,83.0,2500.0,2022,4,1,0.0,0.0
1313,Liechtenstein,Christoph Zeller,1341,64.0,2300.0,2022,4,0,0.0,0.0
1793,Turks and Caicos Islands,Michael Ashcroft,1397,76.0,2200.0,2022,4,1,0.0,0.0
1415,Qatar,Faisal Bin Qassim Al Thani,1445,74.0,2100.0,2022,4,1,0.0,0.0
1356,Morocco,Aziz Akhannouch & family,1513,61.0,2000.0,2022,4,0,0.0,0.0
2643,Uruguay,Alejandro Bulgheroni,1579,77.0,1900.0,2022,4,0,0.0,0.0
1520,Slovakia,Ivan Chrenko,1729,54.0,1700.0,2022,4,1,0.0,0.0
1419,Romania,Ion Tiriac,1818,82.0,1600.0,2022,4,1,0.0,0.0
65,Bahrain,Robert Mouawad,1929,77.0,1500.0,2022,4,0,0.0,0.0
1742,Tanzania,Mohammed Dewji,1929,46.0,1500.0,2022,4,0,0.0,0.0
1358,Nepal,Binod Chaudhary,1929,66.0,1500.0,2022,4,0,0.0,0.0
931,Greece,Vardis Vardinoyannis & family,2076,89.0,1400.0,2022,4,1,0.0,0.0
1,Andorra,Carmen Thyssen,2190,78.0,1300.0,2022,4,0,0.0,0.0
1002,Hungary,Sandor Csanyi,2190,69.0,1300.0,2022,4,1,0.0,0.0

# Q2: How many billionaires are in each country?